@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.preview-img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

@media(max-width: 576px){

    .preview-img{
        width: 100%;
    }

}




